<div class="alert alert-danger animate-show" role="alert"
ng-show="form.$submitted && form.$invalid">
  <ul>
    <li id="nameError" ng-show="form.names.$error.required"> Please, enter your name!</li>
  </ul>
</div>
<form id="form" name="form" role="form" novalidate>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="text" class="form-control input-lg" id="inputName"
      name="names" placeholder="Enter your name" ng-model="formData.names"
      required maxlength="50">
    </div>
    <div class="form-group col-md-6">
      <label for="inputSurname">Surname</label>
      <input class="form-control input-lg" type="text" id="inputSurname"
      name="surnames" placeholder="Enter your surname" ng-model="formData.surnames"
      maxlength="50">
    </div>
  </div>
  <div class="form-group">
    <label>Gender</label>
    <div class="btn-group btn-group-justified">
      <label class="btn btn-primary btn-lg" id="maleButton" ng-class="{ 'active' : formData.gender == 'male' }">
        <input type="radio" class="hidden" name="gender" id="maleInput" checked value="male" ng-model="formData.gender">Male
      </label>
      <label class="btn btn-primary btn-lg" id="femaleButton" ng-class="{ 'active' : formData.gender == 'female' }">
        <input type="radio" class="hidden" name="gender" id="femaleInput" value="female" ng-model="formData.gender">Female
      </label>
    </div>
  </div>
  <button id="button" class="btn btn-primary btn-lg btn-block" ng-click="submit()">Submit!</button>
</form>
<br>
<div class="text-center">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://albert-gonzalez.github.io/zeldify-your-name" data-text="Discover your Zeldified Name!" data-size="large" data-count="none">Tweet</a>
    <script>
    $('#twitter-wjs').remove();
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
