<p class="lead">The Oracle says that your Zeldified name is:</p>
<div class="well text-center">
  <h2><b>{{ convertedName }}</b></h2>
</div>
<div class="text-center">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.nosolobits.com" data-text="My Zeldified name is {{ convertedName }}! Discover yours!" data-size="large" data-count="none">Tweet</a>
    <script>
    $('#twitter-wjs').remove();
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<br>
<div class="text-center">
    <p class="lead">
        <a id ="tryAgainLink" href="/"><strong>Try again!</strong></a>
    </p>
</div>
